dash>=2.18.0
plotly==5.18.0
pandas>=2.2.0
numpy>=1.26.4
scipy>=1.13.0
scikit-learn>=1.4.0
statsmodels>=0.14.0
mplsoccer>=1.1.12
matplotlib>=3.8.4
seaborn>=0.13.0
python-dateutil>=2.8.2
gunicorn==21.2.0
dash-bootstrap-components>=1.5.0
